<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hanoi_local_hub">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hanoi_Local_Hub"
        tools:targetApi="31">

        <!-- Activity đầu tiên chạy ứng dụng, thường là màn hình đăng nhập -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Khai báo đầy đủ các Activity còn lại -->
     <activity android:name=".MainMenuActivity" />
<!--        <activity android:name=".MainAdmin" />-->
        <activity android:name=".AdminProfileActivity" />
        <activity android:name=".UserGroupActivity" />
        <activity android:name=".AdminManagerCustomersActivity" />
        <activity android:name=".CustomerProfileActivity" />
<activity android:name=".MainCustomer"/>
        <activity android:name=".ServiceDetailActivity" />
        <activity android:name=".SearchActivity" />
    </application>



</manifest>